#  Calling the dynamic library.
useDynLib(reComBatseq, .registration=TRUE, .fixes=".cxx_")

#  Export only reComBat_seq
export(reComBat_seq)

# Modified S3 Methods
S3method(estimateGLMCommonDisp, default)
S3method(estimateGLMCommonDisp, DGEList)
S3method(estimateGLMTagwiseDisp, default)
S3method(estimateGLMTagwiseDisp, DGEList)

# Imports
import(edgeR)
import(methods)
import(limma)
importFrom("locfit", locfit)
importFrom("Rcpp", sourceCpp)
importFrom("stats", "dnbinom", "model.matrix", "optimize", "pchisq", "pnbinom", "qnbinom")
importFrom("utils", "capture.output")